<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skilltradiez.skilltraderz" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sz_circle"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label=""
            android:theme="@style/AppTheme" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".SearchScreenActivity"
            android:label=""
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".InventoryActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".TradeRequestActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".SkillDescriptionActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".EditTradeActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".EditSkillActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".GeneralMenuActivity"
            android:theme="@android:style/Theme.NoDisplay" >
        </activity>
    </application>

</manifest>
